<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">OR+</h1>
        </div>
        <p>Войдите в систему для продолжения</p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Имя пользователя" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Пароль" required="">
            </div>
            <button type="submit" ui-sref="index.items" class="btn btn-primary block full-width m-b">Вход</button>

            <!--<a ui-sref="forgot_password"><small>Forgot password?</small></a>-->
        </form>
    </div>
</div>